# macOS
.DS_Store
.AppleDouble
.LSOverride

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
dist/
lib/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.cache
coverage.xml
*.cover
.pytest_cache/

# mkdocs documentation
/site

# ruff
.ruff_cache/

# mypy
.mypy_cache/

# IDE settings
.vscode/
.idea/

# mkdocs build dir
site/
