[tool]
[tool.poetry]
name = "python-ember-mug"
version = "0.5.6"
homepage = "https://github.com/sopelj/python-ember-mug"
description = "Python Library for Ember Mugs."
authors = ["Jesse Sopel <jesse.sopel@gmail.com>"]
readme = "README.md"
license =  "MIT"
classifiers=[
    'Development Status :: 2 - Pre-Alpha',
    'Intended Audience :: Developers',
    'License :: OSI Approved :: MIT License',
    'Natural Language :: English',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
]
packages = [
    { include = "ember_mug" },
    { include = "tests", format = "sdist" },
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/sopelj/python-ember-mug/issues"
"Changelog" = "https://github.com/sopelj/python-ember-mug/blob/main/CHANGELOG.md"

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
bleak-retry-connector = ">=2.13.0"
bleak = ">=0.19.5"

[tool.poetry.group.dev.dependencies]
black  = { version = "^22.6.0" }
isort  = { version = "^5.8.0" }
flake8  = { version = "^5.0" }
flake8-docstrings = { version = "^1.6.0" }
mypy = { version = "^0.971" }
pytest  = { version = "^7.2.1" }
pytest-cov  = { version = "^3.0.0" }
pytest-asyncio =  { version = "^0.19.0" }
tox  = { version = "^3.20.1" }
virtualenv  = { version = "^20.2.2" }
mkdocs  = { version = "^1.1.2" }
mkdocs-include-markdown-plugin  = { version = "^3.6.1" }
mkdocs-material  = { version = "^8.4.1" }
mkdocstrings  = { version = "^0.19.0",  extras = ["python"]}
mkdocs-material-extensions  = { version = "^1.0.1" }
twine  = { version = "^4.0.0" }
mkdocs-autorefs = {version = "^0.4.1" }
pre-commit = "^2.12.0"
toml = "^0.10.2"
bump2version = "^1.0.1"
tox-gh-actions = "^2.9.1"

[tool.poetry.extras]
test = [
    "pytest",
    "pytest-cov",
    "pytest-asyncio",
    "black",
    "isort",
    "mypy",
    "flake8",
    "flake8-docstrings",
]
dev = [
    "tox",
    "pre-commit",
    "virtualenv",
    "pip",
    "twine",
    "toml",
    "bump2version",
]
build = [ "twine" ]
doc = [
    "mkdocs",
    "mkdocs-include-markdown-plugin",
    "mkdocs-material",
    "mkdocstrings",
    "mkdocs-material-extension",
    "mkdocs-autorefs"
]

[tool.black]
line-length = 120
skip-string-normalization = true
target-version = ['py39', 'py310', 'py311']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
line_length = 120
skip_gitignore = true

[tool.poetry.scripts]
ember-mug = "ember_mug.cli:run_cli"

[build-system]
requires = ["setuptools", "poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
