---
# This is a basic workflow to help you get started with Actions

name: Preview

# Controls when the action will run.
"on":
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  pre_build_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: |
            3.11
            3.12
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install hatch hatchling
      - name: tests
        run:
          hatch run test:cov
      - name: Build wheels and source tarball
        run: |
            export VERSION="$(hatch version).dev${GITHUB_RUN_NUMBER}"
            sed -i -re 's/(__version__ = )".+"/\1"'$VERSION'"/g' ember_mug/__init__.py
            hatch build
      - name: Publish to Test PyPI
        run: |
            hatch publish \
              --user="__token__" \
              --auth "${{ secrets.TEST_PYPI_API_TOKEN }}" \
              --repo https://test.pypi.org/legacy/
