---
# This is a basic workflow to help you get started with Actions

name: Tests

# Controls when the action will run.
"on":
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [main]
  pull_request:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # Run tests on all platforms
  test:
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: |
            3.11
            3.12

      - name: Install dependencies
        run: |
          python3.11 -m pip install --upgrade pip
          python3.11 -m pip install hatch hatchling

      - name: Run pytest on all Python Versions
        run:
          hatch run test:cov

      - name: list files
        run: ls -l .

      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
